{% extends 'base.html' %} {%block content%} Welcome to MeTweet, made by himanshu
<div id="tweets">
  Replace Me
</div>

<script>
  const tweetsElement = document.getElementById("tweets"); // get an html element

  const xhr = new XMLHttpRequest();
  const method = "GET"; // "POST"
  const url = "/tweets";
  const responseType = "json";

  function handleDidLike(twee_id, currentCount) {}

  function LikeBtn() {
    return "<button class='btn btn-success' onCLicke = handleDidLike(tweet_id, currentLike)>Like</button>";
  }

  function formatTweetElement(tweet) {
    var formattedTweet =
      "<div class='mb-4 tweet' id='tweet-" +
      tweet.id +
      "'><p>" +
      tweet.content +
      '</p><div class = "btn-group">' +
      LikeBtn() +
      "</div></div>";
    return formattedTweet;
  }
  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function () {
    const serverResponse = xhr.response;
    const listedItems = serverResponse.response; // array
    var finalTweetStr = "";
    var i;
    for (i = 0; i < listedItems.length; i++) {
      var tweetObj = listedItems[i];
      var currentItem = formatTweetElement(tweetObj);
      finalTweetStr += currentItem;
    }
    tweetsElement.innerHTML = finalTweetStr;
  };
  xhr.send();
</script>
{%endblock content%}
